<div class="topnav" id="myTopnav">
  <a href="/" class="active">Index</a>
  <a href="/register">Registration</a>
  <a href="/login">login</a>
  <a href="javascript:void(0);" class="icon" onclick="myFunction()">
    <i class="fa fa-bars"></i>
  </a>
</div>
